In [6]:
def double(x):
    return x * 2

def add_one(x):
    return x + 1

In [2]:
double(3)

6

In [4]:
find_double = lambda x : x * 2

In [5]:
find_double(4)

8

In [8]:
number = 1
for func in [add_one,double,add_one]: # we can put our functions in a list and we can iterate it
    number = func(number)
    print(number)

2
4
5

In [9]:
number = 1
for func in [lambda x: x + 1,lambda x : x * 2,lambda x : x + 3]:  # another name of this lambda function is anonymous functions
    number = func(number)
    print(number)

2
4
7

In [10]:
from functools import reduce

In [11]:
numbers = [1,2,3,4,5]

In [12]:
sum(numbers)

15

In [13]:
prod(numbers)

NameError: name 'prod' is not defined

In [16]:
reduce(lambda x,y : x * y,numbers)
# interesting meaning 
# reduce - what i am doing to data (numbers) and lambda function says how i am doing it

120

In [15]:
reduce(lambda x,y : x + y, numbers)

15

In [17]:
# use case of lambda functions in pandas
import numpy as np
import pandas as pd

In [18]:
df = pd.DataFrame(np.random.normal(0,1,(10,2)))
df.columns = ['column_a','column_b']
df

   column_a  column_b
0  0.452727 -0.417105
1  0.787000  0.171374
2 -0.286372  0.258483
3  0.625262  0.362629
4  0.983569 -0.512780
5  0.095926  1.132017
6 -1.836169 -0.151975
7  1.146259  0.095916
8  0.734843  0.944460
9 -0.858742 -0.464100

In [19]:
# if i need only positive values in column_b, df -> filter -> how to filter using lambda

In [20]:
df.loc[lambda d: d['column_b'] > 0]  # loc indicate we are going to perform filtering

   column_a  column_b
1  0.787000  0.171374
2 -0.286372  0.258483
3  0.625262  0.362629
5  0.095926  1.132017
7  1.146259  0.095916
8  0.734843  0.944460